{%load static%} 
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="contact_form">
            <h1>Amount of entries</h1>
            <p>{{total}}</p>
            <form action=" {%url 'get_winner' %}" method="post" id="main_contact_form" novalidate>
                {%csrf_token%}
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.6s">
                        <button type="submit" class="btn dream-btn">Get Normal prize Winners</button>
                    </div>
                    {{daily_winner_1}} <br> {{daily_winner_2}} <br> {{daily_winner_3}}
                </div>
            </form>
            <form action=" {%url 'reset_winners' %}" method="post" id="main_contact_form" novalidate>
                {%csrf_token%}
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.6s">
                        <button type="submit" class="btn dream-btn">Reset Normal prize Winners</button>
                    </div>
                    {{winner}}
                </div>
            </form>
            <a  href="normal_entries.csv" ><button  >test</button></a>
        </div>
    </div>
</div>